<html>
    <head>
        <title>Bolão Estaduais</title>
    </head>
    <body>
        <p style="text-align: center;"><strong>BOLÃO ESTADUAIS</strong></p>
		<p style="text-align: center;"><a href="{% url 'classificacao' %}">Classificação</a> | <a href="{% url 'rodadas_anteriores' %}">Rodadas Anteriores</a></p>
		<p>&nbsp;</p>
		<p style="text-align: center;">SUAS APOSTAS SEMANA <strong>1</strong></p>
		<p style="text-align: center;">&nbsp;</p>

		{% for jogo in jogos %}
			<p style="text-align: center;">{{ jogo.data_hora }} {{ jogo.time1 }} APOSTA APOSTA {{ jogo.time2 }}</p>
		{% endfor %}

		<p style="text-align: center;">&nbsp;</p>
		<p style="text-align: center;">SALVAR</p>
		<p><strong>&nbsp;</strong></p>



    </body>
</html>